# build/artifact dirs
_*
# but ensure we don't skip __init__.py
!__init__.py

# developer tools
*.idea
.vscode
cmake-build-*
.DS_Store
**/tags
compile_commands.json
bin/
build/
.local_vimrc
.gdb_history
.vimspector.json
doc/
!ngraph/doc
docs/build_documentation/work_dir/
inference-engine/plugins/
inference-engine/temp
inference-engine/report
.repo/
docs/template_plugin/html/
CMakeLists.txt.user
docs/IE_PLUGIN_DG/html/

*.project
*.cproject
*.pydevproject
*.settings
*/gen/
__pycache__
*.swp
/config.xml

# Python-specific
*.env3
*.pyc

# Tests-specific
*.coverage
*htmlcov
*pylint_report.txt
*pylint_report_comments.txt

# Artifacts
/model-optimizer/*.bin
/model-optimizer/*.xml
/model-optimizer/*.json
/model-optimizer/*.so
/model-optimizer/*.txt
/model-optimizer/*.pb
/model-optimizer/*.pbtxt
/model-optimizer/!CMakeLists.txt
/model-optimizer/*.mapping
/model-optimizer/*.dat
/model-optimizer/*.svg

# ngraph
ngraph/src/CPackConfig.cmake
ngraph/src/CPackSourceConfig.cmake
ngraph/src/VERSION
ngraph/src/gtest/
ngraph/src/json/
ngraph/src/ngraphConfig.cmake
ngraph/src/ngraphConfigVersion.cmake
ngraph/src/protobuf/
ngraph/src/src/
ngraph/src/test/
ex_scores.txt
gna_mem_sizes_rw
gna_memory_allocations_ro.txt
gna_memory_allocations_rw.txt
gna_memory_requests.txt
gna_passes_01_RemoveConst.dot
gna_passes_02_FuseFQIntoWeights.dot
gna_passes_03_MoveFakeQuantizeLayerIntoQuantParams.dot
gna_passes_04_SubstituteScaleShiftBroadCast.dot
gna_passes_05_BroadcastConst.dot
gna_passes_06_TransposeWeightsFromNCHWToNHWC.dot
gna_passes_07_SubstitutePRelu.dot
gna_passes_08_SubstituteSoftSign.dot
gna_passes_09_ReorderMaxPool.dot
gna_passes_10_EltwiseSplitOverChannels.dot
gna_passes_11_InsertSplitAligningFilter.dot
gna_passes_12_InsertCopyLayer.dot
gna_passes_13_FlattenTrivialConcat.dot
gna_passes_14_InsertConcatAligningFilter.dot
gna_passes_15_ReorderConcatInputs.dot
gna_passes_16_RemovePermutationsNHWCToNCHW.dot
gna_passes_17_InsertIdentityLayer.dot
gna_passes_18_BreakFusingOfOutputLayers.dot
gna_passes_19_InsertDiagonalLayer.dot
gna_passes_20_HandleMultipleActivationsForTheLayer.dot
gna_passes_21_ForbidActivationFusing.dot
gna_passes_22_FuseMultipleIdentities.dot
gna_passes.dot
gna-blob-imported.dot
gna-blob.dot
Gna2ModelDebugDump_1_layer_20210930142927.txt
Gna2ModelDebugDump_1_layer_20210930142928.txt
Gna2ModelDebugDump_1_layer_20210930143029.txt
Gna2ModelDebugDump_1_layer_20210930143030.txt
Gna2ModelDebugDump_2_layer_20210930142925.txt
Gna2ModelDebugDump_2_layer_20210930142926.txt
Gna2ModelDebugDump_2_layer_20210930142927.txt
Gna2ModelDebugDump_2_layer_20210930143027.txt
Gna2ModelDebugDump_2_layer_20210930143028.txt
Gna2ModelDebugDump_2_layer_20210930143029.txt
Net_.txt.light
report.xml
